<!DOCTYPE html>
<html><head>

  <title>Aero - CutJS</title>
  <meta name="root" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, height=device-height" />
  <link href="stylesheets/planegame.css" rel="stylesheet" />
  <script src="js/sense.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>player_data = {}; down_keys = {};</script>
</head><body>

  <div class="hint">Use mouse, arrow keys and w/a/s/d keys to play.</div>
   
  <script src="js/cut-core.js"></script>
  <script src="js/cut-mouse.js"></script>
  <script src="js/cut-loader.web.js"></script>
  <script src="js/planegame.js"></script>
  <script src="js/planegame_textures.js"></script>
  <script src="js/receiver.js"></script>
  
</body></html>
