<!DOCTYPE html>
<html>
  <head>
    <title>Aero - CutJS</title>
    <meta name="root" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, height=device-height" />
    <link href="stylesheets/planegame.css" rel="stylesheet" />
    <script src="js/nunchuck.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>player_data = {}; </script>

    <script>
      var socket = io();

      var n = nunchuck.init('host', socket);

      var players = {};

      var playerNumber = 1234;

      n.onJoin(function(data){

        if (!players[playerNumber]){
          players[playerNumber] = {
            'username':data.username,
            'killcount': 0,
            'id':playerNumber}
          createPlane(players[playerNumber]['id']);
          var $el = $("<div class='user'><div>")
          players[playerNumber].el = $el;
          players[playerNumber].el.text(players[playerNumber]['username'] + ':' +
            players[playerNumber]['killcount'])
          $('.users').append(players[playerNumber].el)
          playerNumber+=1;
        }

        n.receive(function(data){
          for (var id in players) {
            if (data.username == players[id]['username']) {
              data.id = players[id]['id'];
            }
          }
            movePlane(data)
        })
      });

      $(document).ready(function(){
        $('.code').text(n.roomId)
      });

    </script>

    <style>

      .user {
        display: block;
      }


      .code {
        position: fixed;
        font-size: 15em;
        opacity: .5;
        right: .2em;
        bottom: 0;
      }

      .users {
        position: fixed;
        font-family: 'Montserrat', 'Helvetic Neue', 'Helvetica', sans-serif;
        font-size: 1.2em;
        top: 8px;
        left: 8px;
      }
    </style>
  </head>

  <body>

    <div class="code"></div>

    <div class="users">USERS ONLINE:</div>


    <script src="plugins/cutjs/cut-core.js"></script>
    <script src="plugins/cutjs/cut-mouse.js"></script>
    <script src="plugins/cutjs/cut-loader.web.js"></script>
    <script src="plugins/cutjs/planegame.js"></script>
    <script src="plugins/cutjs/planegame_textures.js"></script>
    <script src="plugins/cutjs/receiver.js"></script>

  </body>

</html>
