<!DOCTYPE html>
<html><head>

  <title>Aero - CutJS</title>
  <meta name="root" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, height=device-height" />
  
  <link href="../public/stylesheets/planegame.css" rel="stylesheet" />
  
</head><body>

  <div class="hint">Use mouse, arrow keys and w/a/s/d keys to play.</div>
   
  <script src="../public/js/cut-core.js"></script>
  <script src="../public/js/cut-mouse.js"></script>
  <script src="../public/js/cut-loader.web.js"></script>
  
  <script src="../public/js/planegame.js"></script>
  <script src="../public/js/planegame_textures.js"></script>
  
</body></html>
