html,
body {
  font: 1em "Montserrat", Helvetica, Arial, sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #1f1f1f;
}

section {
  position: relative;
}

section#splash {
  height: 125%;
  background: #1f1f1f;
  padding-top: 80px;
  overflow: hidden;
  color: white;
}

.title {
  font: 8em "Montserrat", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

.subtitle {
  font: 2em "Montserrat", Helvetica, Arial, sans-serif;
  color: #737373;
  margin-bottom: 30px;
}

.contact {
  position: fixed;
  z-index: 999;
  bottom: 0; left: 0; right:0;
  font: 1.35em "Montserrat", Helvetica, Arial, sans-serif;
  color: #737373;
  background: #1f1f1f;
  padding: 15px;
}

.accent {
  color: #458CCE;
}

a {
  color: #458CCE;
}

.downloads {
  margin-top: 20px;
  display: inline-block
}

button {
  font-size: 1.3em;
  text-decoration: none;
  margin: 16px 0;
  padding: 20px;
  border: 2px solid #458CCE;
  border-radius: 8px;
  width: 400px;
  background: none;
  color: #458CCE;

  -webkit-transition: color 500ms, background 500ms;
  -moz-transition: color 500ms, background 500ms;
  -o-transition: color 500ms, background 500ms;
  -ms-transition: color 500ms, background 500ms;
  transition: color 500ms, background 500ms;
}

button:hover {
  color: white;
  background: #458CCE;
}

button:focus {
  outline: none;
}

.previews {
  margin: 24px 0;
}

.previews div {
  display: inline-block;
  margin: 16px;
}

